/* ... */
/* styles.css */

/* Global Styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: rgb(20, 247, 12);
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Banner Styles */
#banner {
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    color: black;
}

.banner-content h2 {
    font-size: 36px;
}

.banner-content p {
    font-size: 18px;
}


/* Section Styles */
section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
}

.destination {
    margin-bottom: 30px;
}

.destination img {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
}

/* Footer css */
footer {
    background-color: #e72113;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

#grid_pictures {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3, 1fr);
    /* 그리드 내부에서의 행, 열에 여백 주기.  */
    column-gap: 20px;
    row-gap: 20px;
  }

  img {
    width:50%;
    height: 50%;
    object-fit: cover;}
   
    .picture_container > img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
      
      .picture_container {
        border: 5px black(2, 2, 2) dotted ;
      }
      
     #pos1{
        float: right;
        color :#fff;
        background-color:rgb(20, 247, 12);
       font-size: 1.2em;
       border:none;
     }

     
/* FAQ Styles */
.container .faq-item {
    margin-bottom: 30px;
}

.container .faq-item h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.container .faq-item p {
    line-height: 1.6;
}
