/* styles.css */

/* Global Styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: rgb(20, 247, 12);
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* 로그인화면 css */


.container1 {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #f7f7f7;
    color: #000000;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #bcbfc2;
}

.signup-link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

.signup-link:hover {
    text-decoration: underline;
}











/* Footer css */
footer {
    background-color: #e72113;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
}

